<!DOCTYPE html>
<html lang="bg">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ITS Transit</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" >

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="{% url 'home' %}">ITS Transit ЕООД</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="{% url 'home' %}">Начало</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'find-bus' %}">Автобуси</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Резервации</a>
                </li>
                {% if request.user.is_active %}
                <li class="item">
                    <a class="link" href="{% url 'sign-out' %}">Изход</a>
                </li>
                {% else %}
                <li class="item">
                    <a class="link" href="{% url 'signup' %}">Регистрирай се</a>
                </li>
                {% endif %}
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->


{% block content %}
{% endblock %}



    <!-- footer -->
    <div class="container">
        <footer class="footer text-center">
            <p class="mb-0">Банско 2024 Дипломен проект на Иван Сугарев</p>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'assets/js/meyawo.js' %}"></script>

</body>

</html>