{% extends 'main/base.html' %}
{% block content %}

   <!-- Page Header -->
   <header class="header header-mini">
      <div class="header-title">{{title}}</div>
   </header> <!-- End Of Page Header -->

<div class="container" style=" margin-top:60px">
<h3 class="components-section-title">{{msg}}</h3>
<hr>
<h2 class="components-section-title">Списък резервации</h2>

<table class="table table-striped" >
    <thead style="background-color: blue;color: white;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Клиент</th>
            <th scope="col">Линия</th>
            <th scope="col">От</th>
            <th scope="col">До</th>
            <th scope="col">Брой места</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата</th>
            <th scope="col">Час</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>

    {% for row in book_list %}
    <tr>
        <th scope="row">{{row.id }}</th>
        <td>{{row.name}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        {% if row.status == 'B' %}
        <td style="color: green"> Активна </td>
        {% else %}
        <td style="color: red"> Отказана </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>

<div class="container" style="margin-bottom:300px; margin-top:60px">
<form action="{% url 'cancelling' %}" method="post">
    <h3>Отказване - изберете ID на резервация:</h3>
    {% csrf_token %}
    <div class="row mt-5">
        <div class="col-md-4 text-right">
            <h6 class="section-secondary-title">ID на резервация :</h6>
        </div>
        <div class="col-md-8">
            <input name='bus_id' class="form-control" type="number">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 text-right">

        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-danger float-left">Откажи</button>
        </div>
    </div>

    {{error}}

</form>
</div>

{% endblock %}
