{% extends 'main/base.html' %}
{% block content %}

   <!-- Page Header -->
   <header class="header header-mini">
      <div class="header-title">{{title}}</div>
   </header> <!-- End Of Page Header -->

<div class="container" style="margin-bottom:300px">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Посочете линия и дата: </h2>
                <form action="{% url 'find-bus' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">От</label>
                        <div class="col-10">
                            <input name='source' class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">До</label>
                        <div class="col-10">
                            <input name='destination' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label" >Дата</label>
                        <div class="col-10">
                            <input name='date' class="form-control" type="date">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success float-right">Покажи</button>
                    </div>
                    {{error}}

                </form>
            </div>
        </div>

    </div>

{% endblock %}