{% extends 'main/base.html' %}
{% block content %}
   <!-- Page Header -->
   <header class="header header-mini">
      <div class="header-title">{{title}}</div>
   </header> <!-- End Of Page Header -->

<div class="container" style="margin-bottom:350px">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-3 col-form-label">Потребител:</label>
                        <div class="col-9">
                            <input name='name' class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-3 col-form-label">Парола:</label>
                        <div class="col-9">
                            <input name='password' class="form-control" type="password">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="Submit" class="btn btn-success float-right">ВХОД</button>
                    </div>

                </form>
                <p style="color: red;">{{error}}</p>
            </div>
        </div>
    </div>

{% endblock %}